
<%= form_tag new_booking_path, class: "row",
  method: 'get', id: "flight_view" do %>

<div id="no-more-tables">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Select</th>
                <th>Origin</th>
                <th>Destination</th>
                <th>departure</th>
                <th>Airline</th>
                <th>Flight No</th>
                <th>Arrival</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <tr>
            <% flights.each do |flight| %>
            <td data-title="Select"><input name="flight" value=<%= flight.id %> type="radio" id=<%= flight.id %>></td>
            <%= render partial: "partials/flight", locals: { flight: flight, date: Time.parse(params[:date]) } %>
            <% end %>
            <%= hidden_field_tag "passengers", params[:passengers] %>
            <%= hidden_field_tag "departure", params[:date] %>
            <% end %>
        </tbody>
    </table>
  </div>

    <button id="select" class="btn btn-info btn-lg btn-block login-button" type="submit" style="width: 100%;">
        Select Flight
    </button>
