<%= form_tag new_booking_path, class: "row",
  method: 'get', id: "flight_view" do %>

  <% @date = @search.date %>
  <% @search.flights.each do |flight| %>
    <% @flight = flight %>
    <div class="col s12 m6 l4">
      <div class="z-depth-2" id="radios">
        <input name="flight" value=<%= flight.id %> type="radio" id=<%= flight.id %> />
        <%= label_tag 'flight_label', "Book this flight (#{flight.price} USD)", for: flight.id, class: "teal-text text-lighten-2" %>
      </div>
      <div>
        <%= render partial: "partials/flight" %>
      </div>
    </div>
  <% end %>

  <%= hidden_field_tag "passengers", @search.passengers %>
  <%= hidden_field_tag "departure", @search.date.strftime("%Y-%m-%d") %>

  <div class="input-field">
    <div class="col s12">
      <button id="select"
        class="btn waves-effect waves-light col s12 l12 z-depth-2"
          type="submit">Select Flight
        <i class="material-icons right">send</i>
      </button>
    </div>
  </div>

<% end %>
