<div class="row">
<div class="col-xs-8 col-xs-offset-2">
<div class="article-title">
          <%= @flight.origin %>
</div>
<div class="article-actions">
          <%= @flight.departure.strftime "%H:%M" %>
          <%= @flight.origin_airport.city %>
        </div>
<%= @date.strftime "%Y-%m-%d" %>
<%= @flight.destination %>
<%= @flight.arrival_date(@date).strftime "%H:%M" %>
<%= @flight.destination_airport.city %>
<%= @flight.airline.name %>
Flight Number: <%= @flight.number %>

<%= "#{@flight.price} USD" %>
</div>
</div>
</div>
