
  <%= form_tag flights_path, method: 'get', remote: true do %>

		<%= label_tag("Origin") %>

				<%= select_tag(:origin, options_from_collection_for_select(@airports, :code, :formatted), class: "form-control", placeholder: "origin", id: "originSelect") %>

		<%= label_tag("Destination") %>

				<%= select_tag(:destination, options_from_collection_for_select(@airports, :code, :formatted), class: "form-control", placeholder: "destination", id: "destinationSelect", :prompt => "All") %>

		<%= label_tag("Passengers") %>

				<%= select_tag(:passengers, options_for_select((1..10).to_a), class: "form-control") %>

		<%= label_tag("Date") %>
			<input type="date" id = "date" name="date" class="datepicker form-control">
			<br>
      <button id="search" class="btn btn-success" type="submit">Search
      </button>
  <% end %>
