<%=form_for @flight do |f|  %>
<p>
	<%=f.label 'From' %> <br>
	<%=f.text_field :departure %>
</p>
<p>
	<%=f.label 'To' %> <br>
  
<%= f.select :departure, options_for_select([
  ["Select One", ""],
  "Your nick name",
  "your schoool name",
  "your love name",
  "your comapnay name",
  "your favourite website"]),
  {}, { class: "form form-group form-control" } %>

</p>
<p>
	<%=f.submit %>

</p>
<%end%>
