<div class="container">
    <div class="row main">
        <div class="panel-heading">
          <div class="panel-title text-center">
            <h1 class="title">Edit Booking</h1>
            <hr/>
          </div>
        </div>
        <div class="main-login main-center">
          <%= form_for (@booking) do |f| %>
        <% if @booking.errors.any? %>
        <div>
            <p>
              <%= pluralize(@booking.errors.count, "error") %>
              found:
            </p>
            <ul>
              <% @booking.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
              <% end %>
            </ul>
        </div>
        <% end %>
        <p>Total price for
            <%= @booking.passengers.size %>
            passenger(s):
            <%= @booking.price %>
            USD</p>
        <% @flight = @booking.flight %>
        <% @date = @booking.departure %>
        <div>
            <%= render partial: "partials/flight" %>
        </div>
        <%= hidden_field_tag "booking[departure]", @booking.departure %>
        <%= hidden_field_tag "booking[flight_id]", @booking.flight.id %>
        <%= hidden_field_tag "booking[user_id]", current_user.id %>
        <%= f.fields_for :passengers do |passengers_form| %>
        <div class="form-group">
          <%= passengers_form.label :name, "Full Names", class: "cols-sm-2 control-label" %>
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon">
                <i class="fa fa-user" aria-hidden="true"></i>
              </span>
              <%= passengers_form.text_field :name, class: "form-control", id:"passenger_name" %>
            </div>
          </div>
        </div>
        <div class="form-group">
          <%= passengers_form.label :passport_number, "Passport Number", class: "cols-sm-2 control-label" %>
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon">
                <i class="fa fa-book" aria-hidden="true"></i>
              </span>
              <%= passengers_form.text_field :phone, class: "form-control", id:"p_number" %>
            </div>
          </div>
        </div>
        <div class="form-group">
          <%= passengers_form.label :phone, "Phone Number", class: "cols-sm-2 control-label" %>
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon">
                <i class="fa fa-phone" aria-hidden="true"></i>
              </span>
              <%= passengers_form.text_field :phone, class: "form-control", id:"phone" %>
            </div>
          </div>
        </div>
        <% end %>
        <div class="form-group">
          <%= f.submit "Save", class: "btn btn-primary btn-lg btn-block login-button" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
