<div class="main">
		<%= render 'partials/errors', obj: @booking %>
				<h1 class="title">New Booking</h1>
<div class="">
			<%= form_for @booking do |f| %>
		<div class="col-md-6 col-lg-12 col-xl-6">
					<div class="row">
						<div class="col-md-12 col-lg-4 col-xl-4">
							<section class="panel panel-featured-left panel-featured-tertiary">
								<div class="panel-body">
									<div class="widget-summary">
										<div class="widget-summary-col widget-summary-col-icon">
											<div class="summary-icon bg-tertiary">
												<i class="fa fa-plane"></i>
											</div>
										</div>
										<div class="widget-summary-col">
											<div class="summary">
												<h4 class="title"><%= @booking.flight.airline.code %></h4>
												<div class="info">
													<strong class="amount">
														<%= @booking.flight.departure.strftime "%H:%M" %>
													</strong>
												</div>
											</div>
											<div class="summary-footer">
												<a class="text-muted text-uppercase"><%= @booking.flight.departure_date(@booking.flight.departure).strftime "%Y-%m-%d" %></a>
											</div>
										</div>
									</div>
								</div>
							</section>
						</div>
						<div class="col-md-12 col-lg-4 col-xl-4">
							<section class="panel panel-featured-left panel-featured-quartenary">
								<div class="panel-body">
									<div class="widget-summary">
										<div class="widget-summary-col widget-summary-col-icon">
											<div class="summary-icon bg-quartenary">
												<i class="fa fa-user"></i>
											</div>
										</div>
										<div class="widget-summary-col">
											<div class="summary">
												<h4 class="title">Passengers</h4>
												<div class="info">
													<strong class="amount"><%= params[:passengers] %></strong>
												</div>
											</div>
											<div class="summary-footer">
												<a class="text-muted text-uppercase">(details below)</a>
											</div>
										</div>
									</div>
								</div>
							</section>
						</div>
						<div class="col-md-12 col-lg-4 col-xl-4">
							<section class="panel panel-featured-left panel-featured-secondary">
								<div class="panel-body">
									<div class="widget-summary">
										<div class="widget-summary-col widget-summary-col-icon">
											<div class="summary-icon bg-secondary">
												<i class="fa fa-usd"></i>
											</div>
										</div>
										<div class="widget-summary-col">
											<div class="summary">
												<h4 class="title">Total Price</h4>
												<div class="info">
													<strong class="amount">$ <%= total_booking_cost(@booking.flight, params[:passengers]) %></strong>
												</div>
											</div>
											<div class="summary-footer">
												<a class="text-muted text-uppercase">1 booking</a>
											</div>
										</div>
									</div>
								</div>
							</section>
						</div>
					</div>
			<div class="form-group">
				<% if current_user %>
				<%= hidden_field_tag "booking[email]", current_user.email%>
        <% else %>
					<div class="row">
						<%= f.email_field :email, class: "form-control", id:"email", placeholder: "Email", autofocus: true %>

					</div>

						<% end %>
			</div>
			<%= hidden_field_tag "booking[departure]", params[:departure] %>
			<%= hidden_field_tag "booking[flight_id]", @booking.flight.id %>
			<%= hidden_field_tag "booking[user_id]", current_user_or_default.id %>
			<div class="row" id="add-remove" style:"margin-bottom:20px;">
				<%= link_to "Add", new_booking_path(flight: @booking.flight.id, passengers: @booking.passengers.size + 1,  departure: params[:departure] ),
						class: "btn btn-default col-md-6", id: "add", style:"width:50%" %>
				<%= link_to "Remove", new_booking_path(flight: @booking.flight.id, passengers: @booking.passengers.size - 1,  departure: params[:departure]),
						class: "btn btn-default col-md-6", style:"width:50%", id: "remove" unless @booking.passengers.size == 1 %>

			</div>
			<hr>
			<%= f.fields_for :passengers do |passengers_form| %>
			<div class="col-md-3">
			<div class="panel">
			<div class="form-group">
				<div class="cols-sm-10">
					<div class="input-group">
					<% else %>
						<span class="input-group-addon">
							<i class="fa fa-user fa" aria-hidden="true"></i>
						</span>

						<%= passengers_form.text_field :name, class: "form-control", id:"name", placeholder: "Full Names", autofocus: true %>
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="cols-sm-10">
					<div class="input-group">
						<span class="input-group-addon">
							<i class="fa fa-book" aria-hidden="true"></i>
						</span>
						<%= passengers_form.text_field :passport_number, class: "form-control", id:"p_number", placeholder: "Passport Number", autofocus: true %>
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="cols-sm-10">
					<div class="input-group">
						<span class="input-group-addon">
							<i class="fa fa-phone" aria-hidden="true"></i>
						</span>
						<%= passengers_form.text_field :phone, class: "form-control", id:"phone", placeholder: "Phone Number", autofocus: true %>
					</div>
				</div>
			</div>
		</div>
		</div>

			<% end %>

			<button id="book" class="btn btn-info btn-lg btn-block" style="width:100%" type="submit">Book Flight
			</button>

			<% end %>
		</div>
	</div>
</div>
