<p id="notice"><%= notice %></p>
  <div class="row">
      <h1>Booking Details</h1>
      <section class="panel">
        <header class="panel-heading">
          <h2 class="panel-title">Flight Details</h2>
        </header>
        <div class="panel-body">
    <div id="no-more-tables">
    <table class="table table-bordered mb-none">
      <tbody class="info">
        <td data-title= "Airline" >
        <%=@booking.flight.airline.name %>
      </td>
        <td data-title = "Departure">
          <%= @booking.flight.departure.strftime "%Y-%m-%d" %>
        </td>
    </tbody>
  </table>
</div>
</div>
</section>
  <section class="panel">
    <header class="panel-heading">
      <h2 class="panel-title">Booking Details</h2>
    </header>
    <div class="panel-body">
      <div id="no-more-tables">
      <table class="table table-bordered mb-none">
        <thead>
          <tr>
            <th data-field="Confirmation">Confirmation</th>
            <th data-field="Date"> Booking Date</th>
            <th data-field="Total Price">Total Price</th>
          </tr>
        </thead>
        <tbody>

            <tr>
              <td data-title="Confirmation"><%= @booking.reference %></td>
              <td data-title="Date"><%= @booking.updated_at.strftime '%Y-%m-%d %H:%M' %></td>
              <td data-title="Price"><%= @booking.price %> USD</td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
    <section class="panel">
      <header class="panel-heading">
        <h2 class="panel-title">Passengers</h2>
      </header>
      <div class="panel-body">
        <div id="no-more-tables">
    <table class="table table-bordered mb-none">
      <thead>
        <tr>
          <th data-field="name">NAME</th>
          <th data-field="passport">PASSPORT NUMBER</th>
          <th data-field="phone">PHONE NUMBER</th>
        </tr>
      </thead>
      <tbody>
        <% @booking.passengers.each do |passenger| %>
          <tr>
            <td data-title="Name"><%= passenger.name %></td>
            <td data-title="Passport Number"><%= passenger.passport_number %></td>
            <td data-title="Phone Number"><%= passenger.phone %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
</section>
  </div>
