<p id="notice"><%= notice %></p>
<div class="container">
  <div class="row">
    <h5 class="col s12 m12 l12 center-align"><%="Confirmation Number: #{@booking.reference}" %></h5>
    <h5 class="col s12 m12 l12 center-align"><%="Date Booked: #{@booking.updated_at.strftime '%Y-%m-%d %H:%M'}" %></h5>
    <h5 class="col s12 m12 l12 center-align">Total price: <%= @booking.price %> USD</h5>
    <% @flight = @booking.flight %>
    <% @date = @booking.departure %>
    <div class="col s12 m4 l4 offset-m4 offset-l4">
      <%= render partial: "partials/flight" %>
    </div>
    <h5 class="col s12 m12 l12 center-align">Here are the passengers booked for this flight</h5>

    <table class="striped col s12 m12 l12 center-align">
      <thead>
        <tr>
          <th data-field="name">NAME</th>
          <th data-field="passport">PASSPORT NUMBER</th>
          <th data-field="phone">PHONE NUMBER</th>
        </tr>
      </thead>
      <tbody>
        <% @booking.passengers.each do |passenger| %>
          <tr>
            <td><%= passenger.name %></td>
            <td><%= passenger.passport_number %></td>
            <td><%= passenger.phone %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div>
</div>
