<p id="notice"><%= notice %></p>
<div class="container-fluid">
  <div class="row">
    <% @flight = @booking.flight %>
    <% @date = @booking.departure %>
    <div class="jumbotron">
      <h2 align='center'>Booking Details</h2>
    <table>
      <tbody>
      <%= render partial: "partials/flight" %>
    </tbody>
  </table>

      <table>
        <thead>
          <tr>
            <th data-field="Confirmation">Confirmation</th>
            <th data-field="Date"> Booking Date</th>
            <th data-field="Total Price">Total Price</th>
          </tr>
        </thead>
        <tbody>
          <% @booking.passengers.each do |passenger| %>
            <tr>
              <td><%= @booking.reference %></td>
              <td><%= @booking.updated_at.strftime '%Y-%m-%d %H:%M' %></td>
              <td><%= @booking.price %> USD</td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <h2 align='center'>Passengers</h2>
    <table>
      <thead>
        <tr>
          <th data-field="name">NAME</th>
          <th data-field="passport">PASSPORT NUMBER</th>
          <th data-field="phone">PHONE NUMBER</th>
        </tr>
      </thead>
      <tbody>
        <% @booking.passengers.each do |passenger| %>
          <tr>
            <td><%= passenger.name %></td>
            <td><%= passenger.passport_number %></td>
            <td><%= passenger.phone %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  </div>
</div>
