<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Booking Confirmation</h1>
    <p>
      Date: <%= @booking.created_at.strftime '%Y-%m-%d %H:%M' %>
    </p>
    <p>
      Confirmation Number: <%= @booking.reference %><br>
    </p>
    <p>
      Flight Number: <%= @booking.flight.number %><br>
    </p>
    <p>
      Departure Airport: <%= @booking.flight.origin_airport.name %><br>
    </p>
    <p>
      Departure: <%= @booking.flight.departure_date(@booking.departure).strftime '%Y-%m-%d %H:%M' %><br>
    </p>
    <p>
      Arrival Airport: <%= @booking.flight.destination_airport.name %><br>
    </p>
    <p>
      Arrival: <%= @booking.flight.arrival_date(@booking.departure).strftime '%Y-%m-%d %H:%M' %><br>
    </p>
    <p>
      Price: <%= @booking.flight.price %><br>
    </p>
  </body>
</html>
